pipeline/12_foreach_variable_inside.json
{
	"name": "12_foreach_variable_inside",
	"properties": {
		"activities": [
			{
				"name": "Getfilelist",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_list",
					"value": [
						"items.txt",
						"sales.txt",
						"products.txt"
					]
				}
			},
			{
				"name": "copy only some particular files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getfilelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('file_list')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "get filename",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_item",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "copy_each_file",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "get filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_src_dir_with_parameter",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@variables('file_item')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_dir",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"file_list": {
				"type": "Array"
			},
			"file_item": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-17T09:13:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}