pipeline/13_foreach_without_variable_inside.json
{
	"name": "13_foreach_without_variable_inside",
	"properties": {
		"activities": [
			{
				"name": "getfileslist",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_list",
					"value": [
						"items.txt",
						"sales.txt",
						"students.txt"
					]
				}
			},
			{
				"name": "for each without variable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getfileslist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('file_list')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy files",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_src_dir_with_parameter",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_dir",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"file_list": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-17T09:37:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}