pipeline/42_tumbling_window_trigger_real_scenario.json
{
	"name": "42_tumbling_window_trigger_real_scenario",
	"properties": {
		"activities": [
			{
				"name": "get windows start time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_time",
					"value": {
						"value": "@pipeline().parameters.window_start_time",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get windows end time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get windows start time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_time",
					"value": {
						"value": "@pipeline().parameters.window_end_time",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get start hour",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get windows end time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_hour",
					"value": {
						"value": "@formatDateTime(variables('start_time'), 'HH:mm')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get end hour",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get start hour",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_hour",
					"value": {
						"value": "@formatDateTime(variables('end_time'), 'HH:mm')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get Query",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get end hour",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "query",
					"value": {
						"value": "@concat(\n'SELECT * FROM saischema1.cust_tran where tran_dt > ',\n'''',\nvariables('start_time'),\n'''',\n' and tran_dt < ', \n'''',\nvariables('end_time'),\n''''\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get Query",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@variables('query')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "db_src_sqldb_lookup",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink_gen2_with_parameters",
						"type": "DatasetReference",
						"parameters": {
							"foldername": {
								"value": "@concat(variables('start_hour'),'_' , variables('end_hour'))",
								"type": "Expression"
							},
							"filename": {
								"value": "@concat('cust_trans_',\n        variables('start_hour'),\n        '_',\n        variables('end_hour'),\n        '.json'\n)",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"window_start_time": {
				"type": "string"
			},
			"window_end_time": {
				"type": "string"
			}
		},
		"variables": {
			"start_time": {
				"type": "String"
			},
			"end_time": {
				"type": "String"
			},
			"start_hour": {
				"type": "String"
			},
			"end_hour": {
				"type": "String"
			},
			"query": {
				"type": "String"
			}
		},
		"annotations": []
	}
}