pipeline/7_copy_wildcard_same_date_files.json
{
	"name": "7_copy_wildcard_same_date_files",
	"properties": {
		"activities": [
			{
				"name": "getfiledate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filedate",
					"value": {
						"value": "@formatDateTime(utcNow(), 'ddMMyyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getfiledate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "src_dir",
							"wildcardFileName": {
								"value": "@concat('*', variables('filedate'), '*')",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_src_wild_path",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink_dir",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"filedate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-16T17:01:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}